@import url(glyphicon.css);
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: #307668; }

span.b {
  font-weight: bold;
  font-size: larger; }

.cap {
  text-transform: uppercase; }

navbar {
  color: white;
  height: 60px;
  width: 100%;
  background-color: #323232;
  position: fixed;
  z-index: 999; }

.navbar-container {
  height: 60px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px); }
  .navbar-container .nav-hexstyle {
    position: relative;
    width: 180px;
    top: -120px; }
    .navbar-container .nav-hexstyle .arrow {
      position: absolute;
      top: 130px;
      left: 57px; }
      .navbar-container .nav-hexstyle .arrow img {
        opacity: 0.4; }
        .navbar-container .nav-hexstyle .arrow img:hover {
          opacity: 1.0; }
  .navbar-container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-item-align: center;
    align-self: center; }
    .navbar-container .nav .nav-options {
      padding-right: 15px;
      font-size: 12px; }

#portfolio-templates {
  position: relative;
  top: 60px;
  padding: 80px 0; }
  #portfolio-templates .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 64%;
    margin: 0 auto; }
  #portfolio-templates .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 80%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  #portfolio-templates .row3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 64%;
    margin: 0 auto;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px); }

#about {
  background-color: #2EB398;
  width: 100%;
  padding: 70px 130px; }
  #about .person {
    position: relative;
    font-size: 14px; }
    #about .person h2 {
      color: #c4f4eb;
      margin-bottom: 0; }
    #about .person h3 {
      margin-top: 0;
      color: #15957b;
      margin-bottom: 20px; }
    #about .person img {
      float: left;
      margin-right: 35px; }

#getInTouch {
  background-color: #323232; }

.sm-vidgets {
  font-size: 12px;
  color: white;
  float: right;
  padding-top: 15px; }
  .sm-vidgets div {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 4px; }
    .sm-vidgets div.facebook {
      background-color: #A5DBD4; }
    .sm-vidgets div.twitter {
      background-color: #6CCBBE; }
    .sm-vidgets div.google {
      background-color: #a4dbd4; }
    .sm-vidgets div.pinterest2 {
      background-color: #7ed0c5; }
    .sm-vidgets div.linkedin2 {
      background-color: #acddd7; }
    .sm-vidgets div.dribbble {
      background-color: #6ccbbe; }

.sm-vidgets div:hover {
  background-color: rgba(40, 159, 135, 0.76); }
  .sm-vidgets div:hover a:hover {
    color: #f0faf8; }

#getInTouch {
  width: 100%;
  background-color: #323232;
  color: #e6e6e6;
  padding: 70px 110px; }
  #getInTouch header {
    padding-left: 10px; }
  #getInTouch .contact-wrapper {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    #getInTouch .contact-wrapper .contacts {
      width: 25%;
      float: left;
      margin-left: 40px;
      font-size: 12px;
      line-height: 24px; }
    #getInTouch .contact-wrapper .adress {
      margin-top: 20px; }
      #getInTouch .contact-wrapper .adress span {
        color: #2EB398;
        margin-right: 10px; }
    #getInTouch .contact-wrapper .form-container {
      font-size: 10px;
      width: 65%;
      float: left; }
      #getInTouch .contact-wrapper .form-container input {
        background-color: #c1bebe;
        color: #323232;
        width: 100%;
        padding: 7px;
        margin: 10px; }
        #getInTouch .contact-wrapper .form-container input[type=submit] {
          float: right;
          width: 80px;
          background-color: #15957b;
          border-radius: 0; }
          #getInTouch .contact-wrapper .form-container input[type=submit]:hover {
            background-color: #31efc8; }

footer {
  background-color: #222222;
  font-size: 13px;
  padding-left: 40px; }
